.deps/
.dirstamp
.libs/
tmp/
*.a
*.efi
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.log
*.o
*.pp
*.so
*.swp
*.trs
AUTHORS
Makefile
Makefile.in
aclocal.m4
aminclude_static.am
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
test-driver
test-suite.log
VERSION
src/get-capability.efi
test/*_unit
tpm2-tcti-uefi-*-coverage*
